<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MapSuiteDependency-GeoAPI" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDesktopForWinForms-BareBone" version="10.0.344.6" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite" version="10.0.344.6" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.Heat" version="10.0.344.6" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.ShapeFile" version="10.0.344.6" targetFramework="net45" />
</packages>
